.page {
  height: 100%;
  width: 100%;
  padding-left: 188px;
  padding-right: 156px;
  padding-top: 94px;
  padding-bottom: 57px;
}

.header {
  border-bottom: #d0d7de solid 1px;
}
.title {
  /* title large */
  font-family: "Albert Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #3a3c3d;
}

.subtitle {
  /* body large */
  font-family: "Albert Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  width: 656px;
  padding-top: var(--Spacing-sm, 16px);
  padding-bottom: var(--Spacing-md, 24px);
  color: #3a3c3d;
}

.questionPanel {
  width: 596px;
}

.question {
  padding-top: var(--Spacing-xl, 40px);
  padding-bottom: 20px;
  font-family: "Albert Sans";
  font-size: 20px;
}

.asterisk {
  color: #b80037;
}

.buttonRow {
  padding-top: var(--Spacing-xl, 40px);
  display: flex;
  flex-direction: row;
  gap: 40px;
}
