.container {
  display: flex;
  flex-direction: column;
  width: 1024px;
  padding: 24px;
  border-bottom: 1px solid var(--Stroke-1, #edf1f5);
  border-radius: 8px 8px 0px 0px;
  background: #ffffff;
}

.lastContainer {
  display: flex;
  flex-direction: column;
  width: 1024px;
  padding: 24px;
  border-radius: 8px 8px 8px 8px;
  background: #ffffff;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
}

.announcement {
  background-color: #f9a8251a;
  border: 1px dashed #f9a825;
  border-radius: 4px;
  padding: 8px 16px;
}

.urgentButton {
  background-color: #f9a825;
  color: #3a3c3d;
  font-family: "Albert Sans";
  margin-left: "0px";
  font-weight: "500px";
  color: #4d5358;
  font-size: 16px;
  width: 67px;
  height: 27px;
  border-radius: 8px;
  padding: 4px 8px;
  margin-bottom: 16px;
  text-align: center;
}

.info {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
}

.subtitle {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  font-family: "Albert Sans";
  font-weight: 400;
  font-size: 13px;
  line-height: 15.6px;
  letter-spacing: 0%;

  color: #4d5358;
}

.description {
  font-family: "Albert Sans";
  font-weight: 500;
  font-size: 14px;

  color: #60696f;
}

.horizontalDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
}

.label {
  font-weight: 500;
  padding: 4px 8px;
  margin-left: 4px;
  color: #80a4ed;
  border: 1px solid #80a4ed;
  border-radius: 16px;
}

.announcement {
  background-color: #f9a8251a;
  border: 1px dashed #f9a825;
  border-radius: 4px;
  padding: 8px 16px;
}

.button {
  background-color: white;
  color: #4d5358;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.8px;
  display: inline-block;
  width: 116;
  height: 33;
  border: 1px solid #d0d7de;
  border-radius: 8px;
  padding: 8px;
  margin-left: 8px;
  cursor: pointer;
}

.textColumn {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}
