.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Spacing-md, 24px);
  align-self: stretch;
}

.member {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.memberTitle {
  color: var(--Text-2, #4d5358);

  /* title medium */
  font-family: "Albert Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.memberCountFrame {
  display: flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 16px;
  border: 1px solid var(--Primary, #057e6f);

  color: var(--Primary, #057e6f);
  font-family: "Albert Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.tabsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.tabs {
  display: flex;
  align-items: center;

  border-bottom: 1px solid var(--Stroke-1, #edf1f5);

  /* body large */
  font-family: "Albert Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.tabItem {
  display: flex;
  padding: 12px var(--Spacing-md, 24px);
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: var(--Spacing-s, 8px) var(--Spacing-s, 8px) 0px 0px;
  border-bottom: 1px solid var(--Stroke-1, #edf1f5);
  background: var(--Neutral-Base-White, #fafafa);

  color: var(--Text-1, #60696f);
}

.tabItem:hover {
  background: var(--Background-2, #f5f5f5);
  cursor: pointer;
}

.selectedTabItem:hover {
  cursor: pointer;
}

.selectedTabItem {
  display: flex;
  padding: 12px var(--Spacing-md, 24px);
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: var(--Spacing-s, 8px) var(--Spacing-s, 8px) 0px 0px;
  border-bottom: 1.5px solid var(--Primary, #057e6f);
  background: rgba(5, 126, 111, 0.1);

  color: var(--Primary, #057e6f);
  font-weight: 600;
}

.table {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--Spacing-sm, 16px);
  align-self: stretch;
}

.tableContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;

  border-radius: var(--Spacing-s, 8px);
}

.tableHeader {
  display: flex;
  align-items: flex-start;
  align-self: stretch;

  border-radius: var(--Spacing-s, 8px) var(--Spacing-s, 8px) 0px 0px;
  border-top: 1px solid var(--Stroke-2, #d0d7de);
  border-right: 1px solid var(--Stroke-2, #d0d7de);
  border-left: 1px solid var(--Stroke-2, #d0d7de);

  background: var(--Background-2, #f5f5f5);
}

.verticalDivider {
  width: 1px;
  align-self: stretch;
}

.allMember {
  display: flex;
  width: 250px;
  padding: var(--Spacing-sm, 16px) 24px;
  align-items: center;
  gap: 10px;

  border-radius: 8px 0px 0px 0px;
}

.role {
  display: flex;
  width: 150px;
  padding: var(--Spacing-sm, 16px) 24px;
  align-items: center;
  gap: 10px;
}

.program {
  display: flex;
  width: 424px;
  padding: var(--Spacing-sm, 16px) 24px;
  align-items: center;
  gap: 10px;
}

.assigned {
  display: flex;
  padding: var(--Spacing-sm, 16px) 24px;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;

  border-radius: 0px 8px 0px 0px;
}

.tableHeaderText {
  display: -webkit-box;
  width: 152px;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  flex-shrink: 0;
  overflow: hidden;
  color: var(--Text-2, #4d5358);
  text-overflow: ellipsis;

  /* body large */
  font-family: "Albert Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.tableItems {
  border-left: 1px solid var(--Stroke-2, #d0d7de);
  border-right: 1px solid var(--Stroke-2, #d0d7de);
  border-bottom: 1px solid var(--Stroke-2, #d0d7de);
  border-radius: 0px 0px var(--Spacing-s, 8px) var(--Spacing-s, 8px);
  width: 1100px;
  background: #fff;
}

.pageSelect {
  display: flex;
  align-items: center;
  gap: var(--Spacing-sm, 16px);
  flex-direction: row-reverse;
  align-self: stretch;
}

.pageNumber {
  color: var(--Text-1, #60696f);

  /* body medium */
  font-family: "Albert Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.arrowBox {
  display: flex;
  padding: 8px var(--Spacing-s, 8px);
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 8px;
  border: 1px solid var(--Stroke-2, #d0d7de);
  background: #fff;
}

.arrowBox:hover {
  cursor: pointer;
}

.arrowBoxDisabled {
  display: flex;
  padding: 8px var(--Spacing-s, 8px);
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 8px;
  border: 1px solid var(--Stroke-1, #edf1f5);
  background: #fff;
}

.filterSort {
  display: flex;
  align-items: center;
  gap: var(--Spacing-sm, 16px);
}

.filterSortContainer {
  display: flex;
  justify-content: space-between;
  width: 1100px;
}

.messageContainer {
  animation: fadeOut 5s forwards;
  display: flex;
  margin: auto;
  padding: 8px;
  font-size: 14px;
  border-radius: 8px;
  gap: 5px;
  font-family: "Albert Sans";
  font-weight: 500;
  position: fixed;
  bottom: 80px;
}

.messageError {
  background-color: #851a1e1a;
  border: 1px solid #851a1a33;
}

.messageSuccess {
  background-color: #1a85381a;
  border: 1px solid #1a853833;
}

.messageSuccess p {
  color: #1a8538;
}

.messageError p {
  color: #851a1a;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
