.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: #25252533;
  backdrop-filter: blur(8px);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 48px;
  width: 800px;
  background-color: #ffffff;
  gap: 32px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.textGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  font-family: "Albert Sans";
  font-weight: 700;
  font-size: 24px;
}

.subtitle {
  font-weight: 500;
  font-size: 16px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputLabel {
  font-weight: 600;
  font-size: 16px;
}

.input {
  width: 100%;
  height: 41px;
  padding: 8px 15px;
  border-radius: 8px;
  border-width: 1px;

  border: 1px solid #d0d7de;
  background: #ffffff;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-self: stretch;
  gap: 8px;

  font-family: "Albert Sans";
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}
