.container {
  display: flex;
  width: 100%;
  padding: 24px 24px 32px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  height: fit-content;
  border-radius: 8px;
  border: 1px solid var(--Stroke-2, #d0d7de);
  background: #fff;
}

/* modifier when minimized=true */
.containerMinimized {
  width: 100%;
  padding: 24px 24px 32px 24px;
}

.title {
  color: var(--Text-3, #3a3c3d);
  font-family: "Albert Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* make the title smaller when minimized */
.titleMinimized {
  color: var(--Text-3, #3a3c3d);
  font-family: "Albert Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.interestsWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* each tag shrinks in minimized mode */
.interestTag {
  color: var(--Text-2, #4d5358);
  font-family: "Albert Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  align-self: stretch;
}

.interestTagMinimized {
  font-size: 14px;
}
