.container {
  display: flex;
  padding: 4px var(--Spacing-s, 8px);
  justify-content: space-between;
  align-items: center;
  gap: var(--Spacing-xs, 4px);
  border-radius: var(--Spacing-xs, 4px);
}

.text {
  /* body xsmall */
  font-family: "Albert Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: inherit;
}

.battleBuddies {
  color: #0093ebe5;
  border: 0px solid #4ea5d94d;
  background: #4ea5d91a;
}

.advocacy {
  color: #3730a3;
  border: 0px solid rgba(55, 48, 163, 0.3);
  background: rgba(55, 48, 163, 0.1);
}

.operationWellness {
  color: #337357;
  border: 0px solid rgba(51, 115, 87, 0.4);
  background: rgba(51, 115, 87, 0.1);
}

.unassigned {
  width: 81;
  height: 22;
  gap: var(--Spacing-xs, 4px);
  border-radius: var(--Spacing-xs, 4px);
  padding-top: 4px;
  padding-right: var(--Spacing-s, 8px);
  padding-bottom: 4px;
  padding-left: var(--Spacing-s, 8px);
  background-color: #2525250d;
}
