.container {
  display: inline-flex;
  padding: 4px 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: var(--Spacing-sm, 16px);
}

.text {
  /* body xsmall */
  font-family: "Albert Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: inherit;
}

.veteran {
  border: 1px solid #80a4ed;
  color: #80a4ed;
}

.staff {
  border: 1px solid #c2872f;
  color: #c2872f;
}

.volunteer {
  border: 1px solid #a05582;
  color: #a05582;
}

.admin {
  border: 1px solid #464877;
  color: #464877;
}
