.userProfile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Spacing-md, 24px);
  max-width: 1024px;
  text-wrap: nowrap;
}

.viewerViewingSelector {
  position: absolute;
  top: 0px;
  left: 0px;
}

.profileHeading {
  color: var(--Text-3, #3a3c3d);

  /* title medium */
  font-family: "Albert Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.userProfileContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--Spacing-2xl, 48px);
  align-self: stretch;
}

.userProfileInnerContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: var(--Spacing-l, 32px);
  align-items: flex-start;
  gap: var(--Spacing-md, 24px);
  align-self: stretch;
}

.userProfileRow2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1rem;
  align-items: flex-start;
  width: 100%;
}

.userProfileRow2 > * {
  flex: 0 0 50%;
  min-width: 0;
}

.messageContainer {
  animation: fadeOut 5s forwards;
  display: flex;
  padding: 8px;
  font-size: 14px;
  border-radius: 8px;
  gap: 5px;
  font-family: "Albert Sans";
  font-weight: 500;
  position: fixed;
  bottom: 80px;
  left: 40%;
}

.messageError {
  background-color: #851a1e1a;
  border: 1px solid #851a1a33;
}

.messageSuccess {
  background-color: #1a85381a;
  border: 1px solid #1a853833;
}

.messageSuccess p {
  color: #1a8538;
}

.messageError p {
  color: #851a1a;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
