.page {
  background-image: url("/signUpBackground.svg");
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: white;
  width: 542px;
  height: auto;
  border: 1px solid #d0d7de;
  padding: 48px 64px;
  border-radius: 8px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
  color: #3a3c3d;
  font-size: 14px;
}

.subtitle {
  color: #3a3c3d;
  font-family: "Albert Sans";
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 24px;
}

.innerForm {
}

.input {
  width: 100%;
  height: 33px;
  padding: 15px;
  margin: 10px 0 16px;
  display: inline-block;
  background-color: white;
  border: 1px solid #d0d7de;
  border-radius: 4px;
  color: var(--Text-2, #4d5358);
  font-family: "Albert Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.subtitle2 {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  color: black;
  font-family: "Albert Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 24px;
}

.signInButton {
  width: 100%;
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  margin-top: 8px;
  background: var(--Primary, #057e6f);
  color: var(--Neutral-Base-White, #fafafa);
  border: none;
  font-family: "Albert Sans";
  font-size: 16px;
  font-style: medium;
  font-weight: 500;
  border-radius: 8px;
}

.rememberMeContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
  margin-bottom: 24px;
}

.checkbox {
  width: 21.333px;
  height: 21.333px;
  flex-shrink: 0;
  appearance: none;
  border: 2px solid #d0d7de;
  border-radius: 2px;
}

.checkbox:checked {
  background-color: #057e6f;
  border: 2px solid #057e6f;
}

.checkbox:checked::before {
  background-color: #057e6f;
  border: 2px solid #057e6f;
  content: "✔";
  color: white;
}

.rememberMeLabel {
  color: var(--Neutral-Black, #000);
  font-family: "Albert Sans";
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}

.formEntry {
  color: var(--Neutral-Black, #000);
  font-family: "Albert Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.forgotPassword {
  float: right;
  color: var(--Primary, #057e6f);
}

.error {
  color: #60696f;
  font-family: "Albert Sans";
  font-size: 14px;
  margin-bottom: 4px;
  margin-top: 8px;
}
