.container {
  height: 100%;
  background: var(--Neutral-Base-White, #fafafa);
  min-height: 100vh;
  width: 100vw;
}

.page {
  display: flex;
  width: 100%;
  padding: var(--Spacing-4xl, 80px) var(--Spacing-3xl, 64px);
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
}

.frame {
  display: flex;
  max-width: 1024px;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  top: 94px;
  left: 156px;
  padding-bottom: 100px;
}

.header {
  color: var(--Text-3, #3a3c3d);

  /* title large */
  font-family: "Albert Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.subtitle {
  font-family: "Albert Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  width: 656px;
  padding-top: var(--Spacing-sm, 16px);
  padding-bottom: 28px;
  color: #3a3c3d;
}

.subheader {
  font-family: "Albert Sans";
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;

  width: 656px;
  height: 38px;
}

.spacing {
  margin-top: 80px;
}

.page {
  display: flex;
  justify-content: center;
  align-self: stretch;
  background: var(--Neutral-Base-White, #fafafa);
  min-height: 100vh;
  width: 100%;
}
